In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('main.csv')
data.head()

,SKU,DESCRIPTION,YEAR,CAPACITY,URL,PRICE,SELLER_INFORMATION,OFFER_DESCRIPTION,COUNTRY
0,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$295.00,TopWines Switzerland SA,1990Barbaresco Gaja Angelo,Switzerland
1,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$324.62,Vintage Grand Cru,Gaja Barbaresco1990,Hong Kong
2,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$329.00,The Redd Collection,"1990Barbaresco,Angelo Gaja",USA (CA)
3,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$338.68,Wine Walker (HK) Limited,"Gaja Barbaresco,1990,Italy,Piedmont",Hong Kong
4,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$396.83,Enoteca Properzio,Barbaresco Gaja19900.75lt.,Italy

In [3]:
# **Creating an output file**

In [4]:
rows_Containing_USA = data.loc[data['COUNTRY'].str.contains('USA')]

In [5]:
rows_Containing_USA.to_csv('filteredCountry.csv',index=False)

In [6]:
rows_Containing_USA.head()

,SKU,DESCRIPTION,YEAR,CAPACITY,URL,PRICE,SELLER_INFORMATION,OFFER_DESCRIPTION,COUNTRY
2,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$329.00,The Redd Collection,"1990Barbaresco,Angelo Gaja",USA (CA)
6,11332,"Barbaresco,Angelo Gaja",2010,750ml,https://www.wine-searcher.com/find/barbaresco+...,$175.00,The Redd Collection,"2010Barbaresco,Angelo Gaja",USA (CA)
18,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,$304.00,The Redd Collection,"2009Barbaresco,Costa Russi,Angelo Gaja",USA (CA)
22,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,$359.99,Lynnway Liquor Mart,Gaja Costa Russi Barbaresco20092009750ml,USA (MA)
23,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,$379.00,The Old & Rare Wine Company,Angelo Gaja Costa Russi Langhe2009,USA (CA)

In [7]:
df1 = rows_Containing_USA[['SKU','PRICE']]
df1.head()

      SKU    PRICE
2   11331  $329.00
6   11332  $175.00
18  11333  $304.00
22  11333  $359.99
23  11333  $379.00

In [8]:
def clean_currency(x):
    if isinstance(x, str):
        return(x.replace('$', '').replace(',', '').replace('?', ''))
    return(x)

In [9]:
# **Price data is modified from object type to float type**

In [10]:
df1['PRICE'] = df1['PRICE'].apply(clean_currency).astype('float')

<ipython-input-10-38dc88134c6c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['PRICE'] = df1['PRICE'].apply(clean_currency).astype('float')

In [11]:
df1.to_csv('modifiedfilteredCountry.csv',index=False)

In [12]:
first_and_second_min_prices = pd.read_csv("modifiedfilteredCountry.csv")
first_and_second_min_prices.head()

     SKU   PRICE
0  11331  329.00
1  11332  175.00
2  11333  304.00
3  11333  359.99
4  11333  379.00

In [13]:
df2 = first_and_second_min_prices.sort_values(['SKU','PRICE']).groupby('SKU').nth(1)
df2['FIRST_MINIMUM_PRICE'] = first_and_second_min_prices.sort_values(['SKU','PRICE']).groupby('SKU').min()
df2['SECOND_MINIMUM_PRICE'] = first_and_second_min_prices.sort_values(['SKU','PRICE']).groupby('SKU').nth(1)

In [14]:
df2.head()

        PRICE  FIRST_MINIMUM_PRICE  SECOND_MINIMUM_PRICE
SKU
11333  359.99                304.0                359.99
11334  339.00                329.0                339.00
11335  315.00                304.0                315.00
11336  364.99                334.0                364.99
11337  364.99                334.0                364.99

In [15]:
df2.to_csv('temp_lowest_price.csv',index_label="SKU")

In [16]:
df = pd.read_csv("temp_lowest_price.csv")

In [17]:
final_data_frame = df.drop(labels='PRICE',axis='columns')

In [18]:
final_data_frame.head()

     SKU  FIRST_MINIMUM_PRICE  SECOND_MINIMUM_PRICE
0  11333                304.0                359.99
1  11334                329.0                339.00
2  11335                304.0                315.00
3  11336                334.0                364.99
4  11337                334.0                364.99

In [19]:
final_data_frame.to_csv('lowestPrice.csv',index=False)